/*
    books.css
    Kah Huynh and Keaton Mertz, May, 5th 2017

    Styles for the "Room Draw" webapp  
*/

@import url('adapted-styles.css');

table {
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

