<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adapted-styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='roomdraw-config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='searchresults.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}" />
    <title>Carleton Room Draw History Search</title>
    <script>window.onload = function(){goToApi();}; </script>
</head>

<body>
    <h1search><div>Search Results</div></h1search>
    <br>
    <br>
    <a href="/">Home</a><a href="/search/">   >   Search</a><smalltext>   >  Search Results</smalltext>
    <div>
    <p id='loadingtext'> The Data Is Currently Loading...</p>
    <p><table id="results_table"></table></p
    </div>
    
</body>
