<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adapted-styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='roomdraw-config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}" />
    <title>Search Room Draw History Search</title>
</head>

<body>
    <breadcrumbs><a href="/">Home</a><smalltext>   >  Search</smalltext></breadcrumbs>
    <h1search>
        <div>Search</div>
    </h1search>
    <br>
    <br>
    <h2search>
        <div>Class Year</div>
        <classyeardropdown>
        <select id=classyear>
            <option value="All">All</option>
            <option value="sophomore">Sophomore</option>
            <option value="junior">Junior</option>
            <option value="senior">Senior</option>
        </select>
        </classyeardropdown>
    </h2search>
    <div>
        <br>
        <h3search>Draw Number Range</h3search>
        <searchtextbox1><input id="drawnumber" type="text" /></searchtextbox1>
    </div>
        <smalltext>(e.g. 3003-3045)</smalltext>
    <br>
    <br>
    <h2search>
        <div>Building</div>
        <bldgdropdown>
        <select id=bldg>
            <option value="All">All</option>
            <option value="Allen House">Allen House</option>
            <option value="Brooks House">Brooks House</option>
            <option value="Burton Hall">Burton Hall</option>
            <option value="Cassat Hall">Cassat Hall</option>
            <option value="Clader House">Clader House</option>
            <option value="Collier House">Collier House</option>
            <option value="Colwell House">Colwell House</option>
            <option value="Davis Hall">Davis Hall</option>
            <option value="Dixon House">Dixon House</option>
            <option value="Dow House">Dow House</option>
            <option value="Eugster House">Eugster House</option>
            <option value="Evans Hall">Evans Hall</option>
            <option value="Faculty Club">Faculty Club</option>
            <option value="Faculty Club Annex">Faculty Club Annex</option>
            <option value="Goodhue Hall">Goodhue Hall</option>
            <option value="Henrickson House">Henrickson House</option>
            <option value="Hill House">Hill House</option>
            <option value="Hunt House">Hunt House</option>
            <option value="Huntington House">Huntington House</option>
            <option value="James Hall">James Hall</option>
            <option value="Musser Hall">Musser Hall</option>
            <option value="Myers Hall">Myers Hall</option>
            <option value="Nason House">Nason House</option>
            <option value="Northfield Option">Northfield Option</option>
            <option value="Nourse Hall">Nourse Hall</option>
            <option value="Owens House">Owens House</option>
            <option value="Page House West">Page House West</option>
            <option value="Parish House">Parish House</option>
            <option value="Prentice House">Prentice House</option>
            <option value="Rice House">Rice House</option>
            <option value="Scott House">Scott House</option>
            <option value="Severance Hall">Severance Hall</option>
            <option value="Watson Hall">Watson Hall</option>
            <option value="Wilson House">Wilson House</option>
        </select>
        </bldgdropdown>
    </h2search>
    <div>
        <br>
        <h3search>Floor</h3search><smalltext> (e.g. 1, 4)</smalltext>
        <searchtextbox2><input id="floor" type="text" /></searchtextbox2>
    </div>
    <div>
        <br>
        <h3search>Room </h3search><smalltext>(e.g. 019, 203A)</smalltext>
        <searchtextbox3><input id="room" type="text" /></searchtextbox3>
    </div>
    <br>
    <h2search>
        <div>Room Type</div>
        <roomtypedropdown>
        <select id="roomtype">
            <option value="All">All</option>
            <option value="1">Single</option>
            <option value="2">Double</option>
            <option value="3">Triple</option>
            <option value="4">Quad</option>
            <option value="5">Quint</option>
            <option value="6">Sextet</option>
        </select>
        </roomtypedropdown>
    </h2search>
    <br>
    <br>,
    <p>
        <button id="searchresults_button" onclick="onSearchResultButton(document.getElementById('classyear').value,document.getElementById('drawnumber').value, document.getElementById('bldg').value,document.getElementById('floor').value, document.getElementById('room').value, document.getElementById('roomtype').value)"
            >SEARCH</button>
    </p>

    <searchimgpos>
    <img src="http://apps.carleton.edu/reason_package/reason_4.0/www/images_local/558578.jpg">
    </searchimgpos>


</body>
</html>
